---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="CV" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    🌐 Currently located in Calgary, Canada
    <br/>
    🏢 Working as a Data Development Intern | Nova Chemicals
    <br/>
    🕐 Developing for 8+ years, working on personal and client projects
    <br/>
    🏫 Student at the Univerity of Calgary | Bsc. Computer Science w/minor in Philosophy
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelors of Science w/Minor in Philosophy"
      subtitle="Graduating 2026 at University of Calgary, Calgary, Canada"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Web Services Specialist"
      subtitle="From May 2024 to present at University of Calgary, Calgary, Canada"
    >
      I worked to help maintain and optimize the existing legacy CMS systems (Drupal, Wordpress), as well as doing automation for compliance checks across the institution
    </TimeLineElement>
    <TimeLineElement
      title="Co-op Data Engineering & Automation"
      subtitle="From June 2023 to May 2024 at Nova Chemicals, Calgary, Canada"
    >
      I started my internship (first 6 months) with the data team helping:
      <ul>
        <li>- Maintain legacy code ingest and processing pipelines (<a href="https://nodered.org/" class="text-violet-700" target="_blank">Node Red</a>)</li>
        <li>- Overhauling and generating documentation</li>
        <li>- Overhauling and generating pipelines (<a class="text-violet-700" href="https://azure.microsoft.com/en-ca/products/data-factory" target="_blank">Azure Data Factory</a>, and <a class="text-violet-700" href="https://www.databricks.com/" target="_blank">databricks</a>)</li>
      </ul>
      <br>
      
      My second role was in the automation team as a developer where I: 
      <br>
      <ul>
        <li>- Maintained, added features to, and optimized legacy systems</li>
        <li>- Created visualizations for large data sets</li>
        <li>- Developed low code solutions inside the azure ecosystem</li>
        <li>- Created documentation and presentations for a number of systems and topics</li>
        <li>- Engaged in client communications and project management for individual tasks</li>
        </ul>
        <br>
    </TimeLineElement>
    <TimeLineElement
      title="Freelance Web Developer"
      subtitle="From Oct 2017 to May 2023 at Canadian Coding, Calgary, Canada"
    >
    I started Canadian Coding in 2016, initially it was just to produce content around software development. Since then it has grown into an organization with a focus on:
    <ul>
    <li>- Developing sustainable, cost-efficient and performant websites</li>
    <li>- Consulting in both content and development for projects</li>
    <li>- Troubleshooting and diagnosing issues in software projects</li>
    <li>- Creating workflows and automation systems to resolve client issues</li>
    <li>- Creating open source projects to help build and maintain websites</li>
    <li>- Providing resources for other developers to help improve workflow and facilitate learning</li>
    </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Web Services Specialist"
      subtitle="From Sep 2017 to May 2023 at University of Calgary, Calgary, Canada"
    >
    I was hired to work as a second level support specialist for the campus CMS system (Drupal). This was managed through a client ticket system for support requests, along with needing to on occasion make direct client, and department coordinator communications and contact to facilitate requests. This included the creation and deletion of sites, technical troubleshooting & feature requests, and assistance with "Cleanup" items (i.e. helping do an audit of sites for http to https change).
    <br/>
    <br/>
    The position has evolved and changed as I worked there and adapted as changes were necessary to fit the needs of the department. Some of these different roles have included documentation development, training sessions, assisting with QA, and writing scripts for automation and web parsing to go along with the initial job responsibilities. 
    </TimeLineElement>
    <TimeLineElement
      title="Freelance Software & Web Development"
      subtitle="From Oct 2016 to Oct 2019 at No BS Repairs, Calgary, Canada"
    >
    I did freelance sub-contracting whenever available in software development, systems setup, and device repair. Some previous projects have included a point of sales (POS) system, a client management & check-in system, and other hardware and software projects. 
    </TimeLineElement>
    <TimeLineElement
      title="Brand Ambassador"
      subtitle="Mar 2017 for tigris sponsorship & marketing, Calgary, Canada"
    >
    Worked promoting an HP event for a new line of printers, including a new form of mobile printing for smartphones; specifically helped to usher clients to the demo room and provide training in the use of the VR demo equipment.
    </TimeLineElement>
    <TimeLineElement
      title="Computer Technician & Customer Sales Representative"
      subtitle="From April 2015 to October 2015 at Mobile Depot, Calgary, Canada"
    >
    I worked as a technician to fix any devices that came in (primarily desktops and laptops). As there were few employees, and often only one available at a time I also would some days be responsible for opening, running and closing the store throughout business hours. 
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li><a href="https://github.com/Descent098?tab=repositories&q=&type=&language=javascript" class="text-violet-700" target="_blank">Javascript</a></li>
    <li><a href="https://github.com/Descent098?tab=repositories&q=&type=&language=python" class="text-violet-700" target="_blank">Python</a></li>
    <li>C#</li>
    <li>C/C++</li>
    <li>Java</li>
    <li>SQL</li>
    <li>Docker</li>
    <li>CI/CD</li>
    <li><a class="text-violet-700" href="https://www.djangoproject.com/" target="_blank">Django</a></li>
    <li><a class="text-violet-700" href="https://azure.microsoft.com/en-ca/products/data-factory" target="_blank">Azure Data Factory</a></li>
    <li><a class="text-violet-700" href="https://www.databricks.com/" target="_blank">databricks</a></li>
    <li><a class="text-violet-700" href="https://astro.build/" target="_blank">Astro</a></li>
    <li><a class="text-violet-700" href="https://flask.palletsprojects.com/en/3.0.x/" target="_blank">Flask</a></li>
    <li><a class="text-violet-700" href="https://nodejs.org/en/" target="_blank">Node JS</a></li>
    <li><a class="text-violet-700" href="https://www.nginx.com/" target="_blank">Nginx</a></li>
    <li><a class="text-violet-700" href="https://spark.apache.org/" target="_blank">Apache Spark</a></li>
  </ul>
</BaseLayout>
